.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;}

.modal-content {
    position: fixed;
    right: 0px;
    bottom: 0;
    text-align: center;
    background-color: rgb(254, 254, 254);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    transition: 0.5s;}

.modal a:hover, .modal a:focus{
    color: rgb(241, 241, 241);}

.close {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
    transition: 0.3s;}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;}

.modal-header {
    padding: 2px 16px;
    color: white;}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1} }

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}}
